@import "tailwindcss";

.card {
    @apply rounded-md border border-white/50 bg-slate-900/50 p-4 m-4 mt-0;
}

a {
    @apply text-sky-400 font-mono;
    transition: ease-in-out 0.2s;
    text-decoration: underline;
    text-decoration-color: white;
}

a:hover {
    @apply text-sky-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-mono;
}

h1 {
    @apply text-3xl md:text-4xl;
}

h2 {
    @apply text-2xl md:text-3xl;
}

h3 {
    @apply text-xl md:text-2xl;
}

hr.squish {
    @apply mt-[-4px];
}