---
import Card from "../components/Card.astro"
import Base from "../layouts/Base.astro"
---

<Base>
    <Card>
        <h1>blog</h1>
        <hr />
        <h2 class="font-sans!">
            <i>Every</i> good dev needs a blog. Here's mine.
        </h2>
        <div class="h-[6rem]"></div>
        <h2><a href="/">return</a></h2>
    </Card>
</Base>
