---
import Base from "../layouts/Base.astro"
---

<Base>
    <p>Something will go here.</p>
    <p>
        It's likely you accessed this through the <span>projects</span> link in the
        hamburger menu.
    </p>
    <p>
        That's pretty cool, actually! Because it was in a dropdown, some
        JavaScript had to be sent to your browser. But instead of using a
        framework like React or Vue, it was vanilla JS. This is useful because
        then the Static Site Generator, <a href="https://astro.build">Astro</a>,
        doesn't have to hydrate a component with a heavy framework for the
        simple task required of the dropdown!
    </p>
    <p>
        Check out the source for that component <a
            href="https://github.com/aconamos/nephi-dev/blob/main/src/components/Dropdown.astro"
            >here</a
        >!
    </p>
</Base>

<style>
    @reference "../styles/global.css";

    p span {
        @apply font-mono text-sky-400;
    }

    /* weird and i don't like it but that's ok bcuz this is a placeholder page */
    p:not(:last-child) {
        @apply mb-4;
    }
</style>
