---
import "../styles/global.css"

const routes = Astro.routePattern.split("/")

const paths = routes.slice(1, routes.length - 1).map((route, idx) => ({
    name: route,
    path: routes.slice(0, idx + 2).join("/"),
}))

console.log(JSON.stringify(paths))
---

<nav class="crumbs p-4">
    <ol>
        <li class="crumb">
            <a href="/">nephi.dev </a>
        </li>
        {
            paths.map((path) => (
                <li class="crumb">
                    <a href={path.path}>{path.name}</a>
                </li>
            ))
        }
        <li class="crumb"><span>{routes[routes.length - 1]}</span></li>
    </ol>
</nav>

<style>
    .crumbs ol {
        list-style-type: none;
        padding-left: 0;
    }

    .crumb {
        display: inline-block;
    }

    .crumb a::after {
        display: inline-block;
        color: #000;
        content: ">";
        font-size: 80%;
        font-weight: bold;
        padding: 0 3px;
    }
</style>
