---
import Envelope from "../icons/Envelope.astro"
import GitHub from "../icons/GitHub.astro"
import LinkedIn from "../icons/LinkedIn.astro"

// TODO: Refactor the <p> tags to be individual components that use named slots for icons
---

<div class="card font-mono md:text-xl links-container">
    <p>
        <a
            href="https://www.linkedin.com/in/nephi-norton/"
            class="align-bottom no-under"
            ><LinkedIn size="24" /></a
        > linkedin/<a href="https://www.linkedin.com/in/nephi-norton/"
            >Nephi Norton</a
        >
    </p>
    <p>
        <a
            href="https://github.com/aconamos"
            class="align-bottom no-under"
        >
            <GitHub size="24" />
        </a> github/<a href="https://github.com/aconamos">aconamos</a>
    </p>
    <p>
        <a
            href="mailto:nephi.norton+homepage@gmail.com"
            class="align-bottom no-under"
        >
            <Envelope size="24" />
        </a>gmail/<a href="mailto:nephi.norton+homepage@gmail.com"
            >nephi.norton+homepage</a
        >
    </p>
</div>

<style>
    @reference "tailwindcss";

    .links-container p:not(:last-child) {
        @apply mb-2;
    }

    .links-container p a.no-under {
        @apply text-white;
        text-decoration: none;
    }
</style>
