---

---

<div class="w-full text-gray-200 p-4">
    <div class="flex justify-between text-5xl md:text-6xl font-mono">
        <p>nephi<span class="text-sky-400">.</span>dev</p>
        <p class="hidden md:inline"></p>
        <p class="md:hidden">hamburg</p>
    </div>
    <hr class="mt-[-4px] h-[2px] bg-sky-400 border-none" />
</div>
