---
import Navigation from "../components/Navigation.astro"
import Boiler from "../layouts/Boiler.astro"
---

<Boiler className="bg-slate-950 text-white">
    <Navigation />
    <div class="p-4">
        <slot />
    </div>
</Boiler>
