---
import "../styles/global.css"

interface Props {
    title?: string
    className?: string
    metaDescription?: string
}

const boilerplateMetaDescription =
    "The personal webpage of legendary 10x unicorn developer Nephi Norton."

const {
    title = "nephi.dev",
    className,
    metaDescription = boilerplateMetaDescription,
} = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/nicon4.svg"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <meta
            name="description"
            content={metaDescription}
        />
        <title>{title}</title>
    </head>
    <body class={className}>
        <slot />
    </body>
</html>
